<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/navbar.html :: navigation"></div>

<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">Id</th>
        <th scope="col" th:text="#{name}"></th>
        <th scope="col" th:text="#{balance}">Balance</th>
        <th scope="col">Iban</th>
        <th scope="col" th:text="#{status}"></th>
        <th scope="col" th:text="#{creditCard}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="account, iStat : ${accountPage.content}">
        <td class="align-middle"><span class="align-middle" th:text="${account.id}"></span></td>
        <td class="align-middle"><span class="align-middle" th:text="${account.name}"></span></td>
        <td class="align-middle"><span class="align-middle" th:text="${account.balance}"></span></td>
        <td class="align-middle"><span class="align-middle" th:text="${account.iban}"></span></td>
        <td class="align-middle"><span class="align-middle" th:text="${account.status}"></span></td>
        <td class="align-middle"><span class="align-middle" th:text="${account.creditCard.cardNumber}"></span></td>
    </tr>
    </tbody>
</table>
<div th:if="${accountPage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/account/all(size=${accountPage.size}, page=${pageNumber})}"
       th:text="${pageNumber}"
       th:class="${pageNumber==accountPage.number + 1} ? active"></a>
</div>
</body>
</html>