<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{navbar.clients}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/navbar.html :: navigation"></div>
<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col" th:text="#{general.number}"></th>
        <th scope="col" th:text="#{general.name}"></th>
        <th scope="col">Email</th>
        <th scope="col" th:text="#{general.status}"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client : ${clientPage.content}">
        <td class="align-middle"><span class="align-middle" th:text="${client.id}"></span></td>
        <td class="align-middle"><span class="align-middle" th:text="${client.user.name}"></span></td>
        <td class="align-middle">
            <a th:href="@{/account/all/{clientId}(clientId=${client.id})}"
               th:text="${client.user.email}" th:title="#{client.openAccounts}"></a>
        </td>
        <td class="align-middle"><span class="align-middle" th:text="${client.status}"></span></td>
        <td>
            <form th:if="${client.status.name == 'ACTIVE'}"
                  th:action="@{/client/{clientId}/block(clientId=${client.id})}" method="post">
                <button type="submit" class="btn btn-danger" th:text="#{general.block}"></button>
            </form>
        </td>
        <td>
            <form th:if="${client.status.name == 'BLOCKED'}"
                  th:action="@{/client/{clientId}/unblock(clientId=${client.id})}" method="post">
                <button type="submit" class="btn btn-dark" th:text="#{general.unblock}"></button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div th:replace="fragments/pagination.html :: pagination(pageNumbers=${pageNumbers}, pageSize=${clientPage.size},
 sortField=${sortField}, sortDir=${sortDir})"></div>
</body>
</html>