<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/navbar.html :: navigation"></div>

<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">
            <a th:href="@{''(size=${payPage.size}, page=${page}, sortField='id', sortDir=${reverseSortDir})}"
               th:text="#{number}">
            </a>
        </th>
        <th scope="col" th:text="#{amount}"></th>
        <th scope="col">
            <a th:href="@{''(size=${payPage.size},  page=${page}, sortField='paymentDate', sortDir=${reverseSortDir})}"
               th:text="#{paymentDate}">
            </a>
        </th>
        <th scope="col" th:text="#{receiverIban}"></th>
        <th scope="col" th:text="#{status}"></th>
        <th scope="col" th:text="#{details}"></th>
        <th scope="col" th:text="#{accountName}"></th>
        <th scope="col" th:text="#{creditCard}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="payment : ${payPage.content}">
        <td class="align-middle"><span class="align-middle" th:text="${payment.id}"></span></td>
        <td class="align-middle"><span class="align-middle" th:text="${payment.amount}"></span></td>
        <td class="align-middle"><span class="align-middle" th:text="${payment.paymentDate}"></span></td>
        <td class="align-middle"><span class="align-middle" th:text="${payment.receiverIban}"></span></td>
        <td class="align-middle"><span class="align-middle" th:text="${payment.status}"></span></td>
        <td class="align-middle"><span class="align-middle" th:text="${payment.details}"></span></td>
        <td class="align-middle"><span class="align-middle" th:text="${payment.account.name}"></span></td>
        <td class="align-middle"><span class="align-middle" th:text="${payment.account.creditCard.cardNumber}"></span>
        </td>
    </tr>
    </tbody>
</table>

<div th:replace="fragments/pagination.html :: pagination(pageNumbers=${pageNumbers}, pageSize=${payPage.size},
 sortField=${sortField}, sortDir=${sortDir})"></div>

</body>
</html>