<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/navbar.html :: navigation"></div>

<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col" th:text="#{number}"></th>
        <th scope="col" th:text="#{clientId}"></th>
        <th scope="col" th:text="#{accountName}"></th>
        <th scope="col" th:text="#{creationDate}"></th>
        <th scope="col" th:text="#{actionDate}"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="request : ${requestPage.content}">
        <td class="align-middle"><span class="align-middle" th:text="${request.id}"></span></td>
        <td class="align-middle"><span class="align-middle" th:text="${request.client.id}"></span></td>
        <td class="align-middle"><span class="align-middle" th:text="${request.account.name}"></span></td>
        <td class="align-middle"><span class="align-middle" th:text="${request.creationDate}"></span></td>
        <td class="align-middle"><span class="align-middle" th:if="${request.actionDate != null}"
                                       th:text="${request.actionDate}"></span></td>
        <td>
            <form th:if="${request.actionDate == null}" th:action="@{/request/accept}" method="post">
                <input type="hidden" name="requestId" th:value="${request.id}">
                <button type="submit" class="btn btn-success" th:text="#{accept}"></button>
            </form>
        </td>
        <td>
            <form th:if="${request.actionDate == null}" th:action="@{/request/decline}" method="post">
                <input type="hidden" name="requestId" th:value="${request.id}">
                <button type="submit" class="btn btn-danger" th:text="#{decline}"></button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div th:replace="fragments/pagination.html :: pagination(pageNumbers=${pageNumbers}, pageSize=${requestPage.size},
 sortField=${sortField}, sortDir=${sortDir})"></div>
</body>
</html>